name: C/C++ CI

on:
  push:
    branches: [ main, "#48-windows-support" ]
  pull_request:
    branches: [ main ]

jobs:
  Build:
    name: Build (Ubuntu)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Make
      run: make
    - name: Upload build
      uses: actions/upload-artifact@v2
      with:
        name: build-artifact-ubuntu
        path: build
  Testing:
    name: Test (Ubuntu)
    needs: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Download build
      uses: actions/download-artifact@v2
      with:
        name: build-artifact-ubuntu
        path: build
    - name: Change executable permissions
      run: |
        chmod +x build/main
        chmod +x build/tests/examples
    - name: Test examples
      run: build/tests/examples
  BuildWin:
    name: Build (Windows)
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up MinGW
      uses: egor-tensin/setup-mingw@v2
      with:
        platform: x64
    - name: Build with MinGW
      run: make os=WINDOWS
